<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="/products">
          <span data-feather="shopping-cart"></span>
          Products
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/brands">
          <span data-feather="bold"></span>
          Brands
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/types">
          <span data-feather="type"></span>
          Types
        </a>
      </li>
      <% if(user.role === 1) { %>
      <li class="nav-item">
        <a class="nav-link" href="/users">
          <span data-feather="users"></span>
          Users
        </a>
      </li>
      <% } %>
    </ul>
  </div>
</nav>
