<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">RetroChic</a>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
  <ul class="navbar-nav px-3" style="padding-right: 2rem !important;">
    <li class="nav-item text-nowrap">
      <div class="btn-group" role="group" aria-label="Basic example">
      <a class="nav-link col-sm-6" href="/profile">
        <span data-feather="user"></span>
      </a>
      <a class="nav-link" href="/logout">Sign out</a>
        <div class="btn-group" role="group" aria-label="Basic example">
    </li>
  </ul>
</nav>
