<!doctype html>
<html lang="en">
<head>
  <% include ../partials/head %>
  <script type="text/javascript">

    $(document).ready(function() {
      $('#editForm').on('submit', function(event){
        event.preventDefault(); //Stop default form submission
        // let formData = new FormData(currentForm);

        $.ajax({
          url: '/types/' + document.body.getAttribute('data-id'),    //Your api url
          type: 'PUT',   //type is any HTTP method,
          dataType: "json",
          data: $(this).serialize(),
          error: function (request, error) {
            console.log(arguments);
            alert(" Can't do because: " + arguments[0].responseJSON.message);
          },
          success: function () {
            location.href = "/types/1";
          }
        });
      });
    });
  </script>
</head>
<body data-id="<%= type._id %>">
<% include ../partials/nav %>
<div class="container-fluid">
  <div class="row">
    <% include ../partials/dashboard.nav.ejs %>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h3><a href="/types">types</a> > <%= type.title %></h3>
      </div>
      <br>
      <form id="editForm">
        <div class="form-row">
          <div class="form-group col-md-5">
            <label for="inputTitle">Title</label>
            <input name="title" type="text" class="form-control" value="<%= type.title %>" id="inputTitle" placeholder="Title" required
                   minlength="5" maxlength="25">
          </div>
        </div>
        <button id="submit" type="submit" class="btn btn-primary">Edit</button>
      </form>
    </main>
  </div>
</div>

<% include ../partials/footer %>

</body>
</html>
